


/* Header Part Start*/
.header-part {
	width: 100%;
	float: left;
	margin-top: 20px;

}

.cstm-nav {
	color: #989898;
}

/* Header Part End */


/* Banner Part Start */

.banner {
	width: 100%;
	margin: 0px auto;
	float: left;
	background: url(../img/icrowdme-PSD---cssauthor.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 20px;
	
}

.overlay {
	width: 100%;
	float: left;
	background-color: #c8cfca75;

}

.banner-content {
	text-align: center;

}

.banner-header {
	margin-top: 170px;
	color: #ffff;
}

.banner-header-two {
	color: #ffff;
	margin-top: 20px;
}

.bnr-btn {
	margin-top: 60px;
	margin-bottom: 170px;
	padding: 12px 20px;
	color: #ffff;
	background: #99c50a;
}


/* Banner Part End */


/* sec-1 Part Start */

.sec-1 {
	width: 100%;
	margin: 0px auto;
	float: left;

}

.sec-1-content {
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 95px;

}

.sec-1-head {
	padding-top: 50px;
	text-transform: uppercase;
}

.sec-1-text {
	padding-top: 70px;
	font-size: 20px;
	padding-bottom: 135px;
}


/* Works Part End */




/*-- Sec-3 Start --*/
.sec-3 {
	width: 100%;
	margin: 0px auto;
	float: left;

}


.sec-3-content {
	background: #e2f8ff;
	padding: 45px 0px;
}

.sec-3-content-2 {
	background: #f5f9eb;
	padding: 45px 0px;
}


.sec-3-img {
	text-align: center;

}

.sec-3-text {


}

.sec-3-head {
	font-size: 23px;

}

.sec-3-prg {
	font-size: 18px;
}

.sec-3-btn {
	background: #26a6d1;
	color: #ffff;

}

.sec-3-btn-2 {
	background: #add136;
	color: #ffff;
}

/*-- Sec-3 End --*/


/*-- sec-4 Start --*/

.sec-4 {
	width: 100%;
	margin: 0 auto;
	float: left;
}

.sec-4-row {
	padding-top: 80px;
}

.sec-4-head {
	font-size: 30px;

}

.sec-4-prg {
	font-size: 18px;
	padding-top: 30px;
}

.btn-col {
	padding-top: 68px;
}
.sec-4-btn {
	border: 1px solid #b6b6b6;

}

.sec-4-folio {
	padding-top: 65px;

}

.sec-4-folio-content {
	

}

.sec-4-img {
	position: relative;
}

.price-tag {
	font-size: 16px;
	background-color: #26a6d1;
	color: #ffff;
	position: absolute;
	top: 190px;
	font-weight: normal;
	right: 75px;
}

.price-tag-price {
	font-weight: bold;

}


.sec-4-img-head {
	font-size: 17px;
	padding-top: 28px;
	margin-left: 20px;

}

.sec-4-text {
    font-size: 13px;
    padding-top: 15px;
    margin-right: 80px;
    margin-left: 20px;
    text-align: left;
}

.sec-4-inside {
	padding-top: 53px;

}

.sec-4-inside-text-left {
	font-size: 13px;
	margin-left: 18px;
}

.sec-4-inside-text-right {
	font-size: 13px;
}

.sec-4-inside-span {
	width: 62%;
	border-bottom: 1px solid #b6b6b6;
	display: block;
	margin-left: 35px;
	padding-top: 20px;

}

.sec-4-btn-2 {
	border: none;
	color: #b6b6b6;
	border: none;
	margin: 30px auto;

}

.fa.fa-caret-right {
	color: #add136;
	font-size: 24px;
}

.sec-4-btn-2:hover {
	transition: none;
	border: none;

}
/*-- sec-4 End --*/

--------

/*-- Test Part Start --*/

/*-- Test Part End --*/